@import url('https://fonts.googleapis.com/css?family=Belleza&display=swap')

*
   font-family: 'Belleza', sans-serif 

body
    overflow-x: hidden
#banner
    background-image: url(./cardDetails/banner.jpg)
    height: 500px
    width: 100%
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    color: gold

#innerBanner
    background-color: rgba(19, 38, 27, 0.7)

#innerBannerTwo
    background-color: rgb(19, 38, 27)

ul li
    display: inline-block
.img
  width: 100%
  height: auto
  border: 20px solid black
  border-radius: 20px


.imgTwo
    height: auto
    width: 100%
    position: relative
    bottom: 0px

.bder
    padding: 5px
    border: 3px solid rgb(183, 172, 148)
    border-radius: 5px

.test
    position: absolute
    bottom: 100px

.imgTwo:hover
    position: relative
    bottom: 50px
    transition: 0.4s

#container2
    background-color: rgb(19, 38, 27)
    height: 100%
    padding: 5%

#line
   background-color: rgb(19, 38, 27)
    padding:0 10px

.btns
    border: 7px solid gray
    border-radius: 10px
    padding: 10px 20px

.imgFour
    width: 20%

#container3
    background-color: rgba(0,0,0,0.5)
    background-image: url(./cardDetails/dragon.gif)
    height: auto
    width: 100%
    background-position: right bottom
    background-size: cover
    background-repeat: no-repeat
    color: white
    padding-bottom: 40px 
#container4
    background-color: rgb(19, 38, 27)


.imgfive
    width: 8%

.details
    font-size: 1vw
hr
    border: none
    color: gray
    height: 3px
    width: 70%
    background-color: gray

.testOne
    padding-bottom: 10px
    border-bottom:  5px solid gold

@media screen and (max-width: 480px) and (min-width: 300px) 
  .imgfive
     width: 8%

  .imgFour
     width: 100%

  .details
      font-size: 15px
  hr
      width: 100%


@media screen and (max-width: 1024px) and (min-width: 767px) 
  .imgFour
     width: 20%

  .imgfive
     width: 10%

  .details
      font-size: 10px
  .test
    position: absolute
    bottom: 130px  

@media screen and (max-width: 894px) and (min-width: 1293) 
   .imgFour
     width: 20%

   .imgfive
     width: 10%

   .details
      font-size: 8vw
      margin: 0px
      padding: 0px

   .test
    position: absolute
    bottom: 130px  